@font-face {
  font-family: myFont;
  src: url('./utils/TTTravels-Black.ttf');
}

.App {
  text-align: center;
  background-color: #191D29;
  font-family: myFont;


}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.top {
  background-image: url('./utils/Background.png');
  background-position: center;
  height: 790px;
  padding: 58px;
}

.whiteHeading {
  color: white;
  font-size: 128px;
}

.gradientHeading {
  background: -webkit-linear-gradient(right, #15BFFD, #9DFE00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 128px;


}

.button {
  align-items: center;
  text-decoration: none;
  padding: 2px;
  width: 210px;
  height: 50px;
  border-radius: 20px;
  color: white;
  background: -webkit-linear-gradient(left, #15BFFD, #1082ac, #9dff00c2);
  position: absolute;
  left: 640px;
  bottom: 420px;
}

.paragraph {
  font-family: myFont;
  color: #14D9E5;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  width: 360px;
  text-align: start;
  position: absolute;
  right: 650px;
  bottom: 400px;

}

.charBox {
  width: 300px;
  background-color: #1082ac;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
}




@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}